credentials.txt
credentials_keycloak.txt
transformers_cache_dir
chrome
*.log
__pycache__/
*.py[cod]
freeze
firefox/
geckodriver-folder/
patrick_myenv/
screenshot.png
responses.json
articles.json
*.zip
.ipynb_checkpoints/
